<!DOCTYPE html>
<html lang="ES">

<%- include('../partials/head',{
	title : 'Detalle'
}) %>


<body>
	<%- include('../partials/header') %>

    <h1>Detalle del producto</h1>
	<%- include('../partials/footer') %>

</body>
</html>