<!DOCTYPE html>
<html lang="ES">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kitchening</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body class="home">

		<!-- cabecera -->
		<header class="header">
			<img src="img/logo.jpg" alt="logotipo" class="header__logo">

			<a href="#" class="header__bars">
				<i class="fa fa-bars"></i>
			</a>

			<nav class="header__nav">
				<ul>
					<li><a href="/">home</a></li>
					<li><a href="#">quienes</a></li>
					<li><a href="#">servicios</a></li>
					<li><a href="#">portfolio</a></li>
					<li><a href="#">sucursales</a></li>
					<li><a href="/contact">contacto</a></li>
				</ul>
			</nav>
		</header>
		<main>
            <h1>Form Contact</h1>
        </main>

</body>

</html>