<!DOCTYPE html>
<html lang="ES">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kitchening</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body class="home">

		<!-- cabecera -->
		<header class="header">
			<img src="img/logo.jpg" alt="logotipo" class="header__logo">

			<a href="#" class="header__bars">
				<i class="fa fa-bars"></i>
			</a>

			<nav class="header__nav">
				<ul>
					<li><a href="#">home</a></li>
					<li><a href="#">quienes</a></li>
					<li><a href="#">servicios</a></li>
					<li><a href="#">portfolio</a></li>
					<li><a href="#">sucursales</a></li>
					<li><a href="#">contacto</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<!-- banner -->
			<div>
				<img class="home__main__banner" src="img/img-banner.jpg" alt="banner">
			</div>

			<!-- productos -->
			<div class="home__main__products">
				<article class="home__main__products__product">
					<div class="home__main__products__product__photo-container">
						<img class="home__main__products__product__photo-container--photo" src="img/img-pdto-1.jpg" alt="pdto 01">
						<img class="home__main__products__product__photo-container--special" src="img/img-nuevo.png" alt="plato nuevo">
						<a class="home__main__products__product__photo-container--zoom" href="#">Ampliar foto</a>
					</div>
					<h3>Lorem ipsum amet</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint
						necessitatibus, officia ex.</p>
					<a class="home__main__products__product__photo-container--more" ref="#">ver más</a>
				</article>
				<article class="home__main__products__product">
					<div class="home__main__products__product__photo-container">
						<img class="home__main__products__product__photo-container--photo" src="img/img-pdto-2.jpg" alt="pdto 02">
						<img class="home__main__products__product__photo-container--special" src="img/img-gratis.png" alt="gratis más de 3">
						<a class="home__main__products__product__photo-container--zoom" href="#">Ampliar foto</a>
					</div>
					<h3>Lorem ipsum amet</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint
						necessitatibus, officia ex.</p>
					<a class="home__main__products__product__photo-container--more" ref="#">ver más</a>
				</article>
				<article class="home__main__products__product">
					<div class="home__main__products__product__photo-container">
						<img class="home__main__products__product__photo-container--photo" src="img/img-pdto-3.jpg" alt="pdto 03">
						<img class="home__main__products__product__photo-container--special" src="img/img-descuento.png" alt="descuento efectivo">
						<a class="home__main__products__product__photo-container--zoom" href="#">Ampliar foto</a>
					</div>
					<h3>Lorem ipsum amet</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint
						necessitatibus, officia ex.</p>
					<a class="home__main__products__product__photo-container--more" href="#">ver más</a>
				</article>
				<article class="home__main__products__product">
					<div class="home__main__products__product__photo-container">
						<img class="home__main__products__product__photo-container--photo" src="img/img-pdto-1.jpg" alt="pdto 01">
						<img class="home__main__products__product__photo-container--special" src="img/img-nuevo.png" alt="plato nuevo">
						<a class="home__main__products__product__photo-container--zoom" href="#">Ampliar foto</a>
					</div>
					<h3>Lorem ipsum amet</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint
						necessitatibus, officia ex.</p>
					<a class="home__main__products__product__photo-container--more" ref="#">ver más</a>
				</article>
				<article class="home__main__products__product">
					<div class="home__main__products__product__photo-container">
						<img class="home__main__products__product__photo-container--photo" src="img/img-pdto-2.jpg" alt="pdto 02">
						<img class="home__main__products__product__photo-container--special" src="img/img-gratis.png" alt="gratis más de 3">
						<a class="home__main__products__product__photo-container--zoom" href="#">Ampliar foto</a>
					</div>
					<h3>Lorem ipsum amet</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint
						necessitatibus, officia ex.</p>
					<a class="home__main__products__product__photo-container--more" ref="#">ver más</a>
				</article>
				<article class="home__main__products__product">
					<div class="home__main__products__product__photo-container">
						<img class="home__main__products__product__photo-container--photo" src="img/img-pdto-3.jpg" alt="pdto 03">
						<img class="home__main__products__product__photo-container--special" src="img/img-descuento.png" alt="descuento efectivo">
						<a class="home__main__products__product__photo-container--zoom" href="#">Ampliar foto</a>
					</div>
					<h3>Lorem ipsum amet</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint
						necessitatibus, officia ex.</p>
					<a class="home__main__products__product__photo-container--more" ref="#">ver más</a>
				</article>
			</div>
		</main>
		<footer class="footer">
			<nav class="footer__nav">
				<ul>
					<li><a href="#">home</a></li>
					<li><a href="#">quienes</a></li>
					<li><a href="#">servicios</a></li>
					<li><a href="#">portfolio</a></li>
					<li><a href="#">sucursales</a></li>
					<li><a href="#">contacto</a></li>
				</ul>
			</nav>
		</footer>

</body>

</html>