.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.header__logo {
    border-radius: 50%;
    border: 1px solid var(--colorGris);
    width: 180px;
}

.header__bars {
    background-color: var(--colorGrisOscuro);
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 1.5rem;
}

.header__nav {
    width: 100%;
}

.header__nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1px;
}

.header__nav ul li {
    background-color: var(--colorGrisOscuro);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}

/* tablet */
@media (min-width:768px) {

    .header__bars {
       display: none;
    }

    .header__nav ul {
        flex-direction: row;
        gap: 10px;
    }

    .header__nav ul li {
       font-size: 0.7rem;
    }
}

/* desktop */

@media (min-width: 1024px) {
    .header__nav ul li {
        font-size: 1rem;
     }
}