:root {
    --colorRojo: #b81e14;
    --colorGris: #92908b;
    --colorGrisOscuro : #444444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('/images/bg-body.png');
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    padding: 0;
    list-style: none;
}



textarea {
    resize: none;
}

