.mySlides {display: none; width: 100%;}
.mySlides img {height: 600px; object-fit: cover; border-radius: 5px 5px 0 0;}

/* Slideshow container */

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@media (min-width: 768px) {
  .mySlides img {height: 600px; border-radius: 5px 0 0 0;}

}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}