<!DOCTYPE html>
<html lang="ES">

<%- include('./partials/head',{
	title : "Home"
}) %>

<body class="home">

	<%- include('./partials/header') %>
	
	<main>
		<!-- banner -->
		<div>
			<img class="home__main__banner" src="images/img-banner.jpg" alt="banner">
		</div>

		<!-- productos -->
		<div class="home__main__products">
		
			<% products.forEach(product => { %>
				<%- include('./partials/product-card',{
					...product
				}) %>
			<% }) %>
		
		</div>
	</main>
	
	<%- include('./partials/footer') %>

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>

</body>

</html>