<footer class="footer">
    <nav class="footer__nav">
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">quienes</a></li>
            <li><a href="#">servicios</a></li>
            <li><a href="#">portfolio</a></li>
            <li><a href="#">sucursales</a></li>
            <li><a href="#">contacto</a></li>
        </ul>
    </nav>
</footer>
<%- include('./scripts') %>