<article class="home__main__products__product" >
    <div class="home__main__products__product__photo-container">
        <img class="home__main__products__product__photo-container--photo" src="images/<%= mainImage %>"
            alt="pdto 01">
        <img class="home__main__products__product__photo-container--special" src="images/<%= category === "barato" ? 'img-descuento.png' : category === "romantico" ? 'img-gratis.png' : 'img-nuevo.png' %>"
            alt="plato nuevo">
        <a class="home__main__products__product__photo-container--zoom" href="#">Ampliar foto</a>
    </div>
    <h3><%= name %></h3>
    <p><%= description %></p>
    <a class="home__main__products__product__photo-container--more" href="/productos/detalle">ver más</a>
</article>