    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex gap-2 align-items-center">
                <img
                src="https://via.placeholder.com/40x40"
                class="rounded-circle me-2"
              />
              <span>Mathew Glock</span>
            </div>
                
              <div class="stats">
                <small><i class="far fa-clock"></i> Hace 5 min</small>
              </div>
        </div>
        <div class="card-body">
          <p>"If you have the opportunity to play this game of life you need to appreciate every moment."</p>
        </div>
          <div class="card-footer text-end">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
      </div>
    </div>
