<div class="card mt-4">	
    <div class="card-body">
      <form>
          <textarea
            class="form-control form-control-sm border border-2 rounded-1"
            id="exampleFormControlTextarea1"
            style="height: 50px"
            placeholder="Deje su comentario..."
            minlength="3"
            maxlength="255"
            required
          ></textarea>
      </form>
    </div>
    <footer class="card-footer bg-transparent border-0 text-end">
      <button class="btn btn-outline-secondary btn-sm">
        Limpiar
      </button>
      <button
        type="submit"
        class="btn btn-dark btn-sm"
      >
        Enviar
      </button>
    </footer>
  </div>